@import "components/variables";
footer {
  margin-top: 54px;
  padding-top: 5px;
  border-top: $border-top-default;
  color: #777;
}
footer a:hover {
  color :#222;
}

footer small {
  float:left;
}

footer ul {
  float:right;
  list-style:none;
}

footer ul li {
  float:left;
  margin-left:15px;
}
