$navbar-default-bg: #cee5e5;
$border-top-default: 1px solid #dedede;

@import "bootstrap";
@import "bootstrap-sprockets";


body {
  font-family: 'Lato';
}
.navbar {
  border-radius: 0;
}

#logo {
  float:left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color:#444;
  }
}

.center {
  text-align:center;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}
.form-horizontal .checkbox-inline {
  margin-top: -3px !important;
}

.jumbotron {
  background-image: asset-url("littlehouse.jpg");
  background-size:cover;
  height:450px;
}

.jumbotron h1 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #444;
  text-align:center;
  margin-bottom:30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.8em;
  background-color: #555;
  border-color: #444;
  &:hover {
    background-color: #777;
    border-color: #555;
  }
}

.lg-bg {
  background-color: #eee;
}

.gravatar {
  border: 2px solid #888;
}

.article-meta-details {
  border-top: $border-top-default;
  margin-top: 15px;
}

.article-actions {
  border-top: $border-top-default;
  padding-top: 5px;
  text-align:left;
}

.description {
  margin-top: 0;
}
.article-title {
  font-weight:bold;
  font-size:1.5em;
}

.article-body {
//  border-top: $border-top-default;
padding-top: 15px;
padding-bottom: 15px;
}

.listing {
  list-style:none;
  padding-left:0;

}

footer {
  margin-top: 54px;
  padding-top: 5px;
  border-top: $border-top-default;
  color: #777;
}
footer a:hover {
  color :#222;
}

footer small {
  float:left;
}

footer ul {
  float:right;
  list-style:none;
}

footer ul li {
  float:left;
  margin-left:15px;
}
